* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container1, .container2, .container3{
    background-color: rgb(160, 160, 160);
    border: 1px solid black;
    position: relative;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
}
@media (min-width: 992px) {
    .container1 {
        width: 30.66%;
        float: left;
        margin-left: 2%;
        margin-right: 0;
    }
    .container2 {
        width: 30.66%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }
    .container3 {
        width: 30.66%;
        float: left;
        margin-left: 0;
        margin-right: 2%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container1 {
        width: 47%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }
    .container2 {
        width: 47%;
        float: right;
        margin-left: 0;
        margin-right: 2%;
    }
    .container3 {
        width: 96%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
    }
}
h1 {
    font-size: 175%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.section-title {
    border: 1px solid black;
    font-size: 125%;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    text-align: center;
}
.title1 {
    background-color: aliceblue;
}
.title2 {
    background-color:aquamarine;
}
.title3 {
    background-color:beige;
}
.description {
    margin: 10px;
    margin-top: 30px;
    text-align: left;
}
